body, html { margin: 0; padding: 0; height: 100%; font-family: sans-serif; }
#map { height: 100vh; width: 100%; z-index: 1; }

#status-panel { 
    position: absolute; top: 10px; left: 10px; z-index: 1000;
    background: white; padding: 15px; border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); width: 250px;
}
/* Animação de pulsação para o trem */
@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    70% { transform: scale(3); opacity: 0; }
    100% { transform: scale(1); opacity: 0; }
}

.train-ping {
    background-color: #2196F3;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(33, 150, 243, 0.4);
    animation: pulse 2s infinite;
}

/* Diferenciar cores por sentido no CSS se quiser */
.ping-iate { background-color: blue; }
.ping-parangaba { background-color: green; }
